In [2]:
shhh <- function(expr) suppressPackageStartupMessages(suppressWarnings(suppressMessages(expr)))
shhh({
    library(magrittr); library(zeallot); library(glue); library(tidyverse); library(glue); library(lubridate)
    library(scales);library(reshape2);library(RColorBrewer);
})

In [3]:
## Run pageview query and load data
query <- "
SELECT
date, apps, desktop, mobileweb, total
FROM cchen.pageviews_corrected
WHERE year >= 2014
"

In [4]:
pageviews_all <- wmf::query_hive(query)

In [8]:
query <- "SELECT 
    CONCAT(year,'-',LPAD(month,2,'0'),'-',LPAD(day,2,'0')) AS date,
    SUM(IF(access_method = 'mobile app', view_count, null)) AS apps,
    SUM(IF(access_method = 'desktop', view_count, null)) AS desktop,
    SUM(IF(access_method = 'mobile web', view_count, null)) AS mobileweb,
    SUM(view_count) as total,
    year, month, day
FROM wmf.pageview_hourly
WHERE (year = 2020 AND month = 3)
    AND agent_type='user'
    AND NOT (country_code IN ('PK', 'IR', 'AF') -- https://phabricator.wikimedia.org/T157404#3194046
    AND user_agent_map['browser_family'] = 'IE') -- https://phabricator.wikimedia.org/T193578#4300284
GROUP BY year, month, day"

In [9]:
pageviews_mar <- wmf::query_hive(query)

In [12]:
pageviews_mar <- pageviews_mar %>%
    select (date, apps, desktop, mobileweb, total)

In [13]:
pageviews_all <- rbind(pageviews_all, pageviews_mar)

In [22]:
pageviews_all$date <- as.Date(pageviews_all$date, format = "%Y-%m-%d")

In [35]:
pageviews_all %>% select(date,total) %>% arrange(desc(total))

     date       total
1    2020-03-22 605694491
2    2019-11-12 603469671
3    2020-03-24 599509244
4    2020-01-27 598292019
5    2019-11-13 597683456
6    2020-02-10 596006383
7    2017-02-27 595389171
8    2017-02-13 594548277
9    2016-11-09 594233977
10   2020-03-23 593242885
11   2017-01-23 592106551
12   2017-01-09 591843191
13   2017-02-06 589586005
14   2016-11-14 589387808
15   2017-01-30 587858774
16   2017-02-20 586354220
17   2017-01-08 585579484
18   2017-01-16 585546294
19   2017-02-12 584449607
20   2020-01-05 583483751
21   2019-10-22 582653581
22   2017-01-22 582029644
23   2019-02-25 581518545
24   2017-01-15 581204239
25   2017-01-29 579426401
26   2018-11-14 579186066
27   2016-11-29 579083130
28   2019-11-25 578999352
29   2019-11-24 578471217
30   2020-01-20 578462352
⋮    ⋮          ⋮
1273 2017-07-14 451085461
1274 2017-12-25 450233697
1275 2017-12-21 449445016
1276 2019-12-21 449182771
1277 2017-12-16 448262678
1278 2016-12-24 447005484
1279 2018-08-11 446862745
1280 2017-06-10 446256566
1281 2017-05-27 446212280
1282 2019-06-29 445725539
1283 2017-06-17 444789976
1284 2018-12-21 444407222
1285 2017-06-30 443939151
1286 2017-09-30 443810697
1287 2017-07-22 441516743
1288 2017-09-02 441194949
1289 2017-08-26 440460769
1290 2017-08-12 438592377
1291 2017-08-19 437973377
1292 2018-12-22 436558812
1293 2017-06-24 436379721
1294 2017-07-08 435772847
1295 2017-07-15 434901341
1296 2017-12-24 430961944
1297 2017-07-01 430786947
1298 2017-08-05 430186049
1299 2017-07-29 427390585
1300 2017-12-22 422263990
1301 2017-12-23 418354402
1302 2020-03-25  81952339